/* =========================================================
   HERO 
   ========================================================= */
.hero{
  background: url('../images/banner.png') center center/cover no-repeat;
  min-height: 90vh;
}
.hero-title {
  font-family: var(--font-display);
  font-size: clamp(2.2rem, 4vw, 3.4rem); /*automatically adjusts the font size based on the screen*/
  line-height: 1.1;
}

.hero-text {
  font-size: 1.05rem;
  color: var(--ink-soft);
  max-width: 380px;
}

.hero-image-wrap {
  border-radius: 50% 50% 12px 12px / 60% 60% 12px 12px;  /*border-radius:Horizontal Radius/ Vertical Radius*/
  overflow: hidden;
  max-width: 420px;
}

.hero-badge {
  right: -10px;
  bottom: 10px;
  width: 230px;
}

.badge-icon {
  font-size: 1.1rem;
}